{
  "kind" : "walletobjects#giftCardClass",
  "id" : "{{issuerId}}.{{offerClass}}",
  "issuerName" : "Baconrista",
  "merchantName" : "Baconrista",
  "programLogo" : {
    "kind" : "walletobjects#image",
    "sourceUri" : {
      "kind" : "walletobjects#uri",
      "uri" : "http://farm8.staticflickr.com/7340/11177041185_a61a7f2139_o.jpg"
    }
  },
  "textModulesData" : [
    {
      "header" : "Where to Redeem",
      "body" : "All US gift cards are redeemable in any US and Puerto Rico" +
                " Baconrista retail locations, or online at Baconrista.com where" +
                " available, for merchandise or services."
    }
  ],
  "linksModuleData" : {
    "uris" : [
      {
        "kind" : "walletobjects#uri",
        "uri" : "http://www.baconrista.com/",
        "description" : "Baconrista"
      }
    ]
  },
  "locations" : [{
    "kind" : "walletobjects#latLongPoint",
    "latitude" : 32.8543686,
    "longitude" : -96.9883125
  }],
  "allowMultipleUsersPerObject" : true,
  "reviewStatus" : "underReview",
  "hexBackgroundColor": "#ffffff",
  "heroImage": {
    "kind": "walletobjects#image",
    "sourceUri": {
      "kind": "walletObjects#uri",
      "uri": "http://farm8.staticflickr.com/7302/11177240353_115daa5729_o.jpg"
    }
  }
}