{
  "title": "Updated title",
  "id": "{{issuerId}}.{{offerClass}}",
  "issuerName": "{{issuerName}}",
  "issuerName": "{{issuerName}}",
  "redemptionChannel": "instore",
  "message": [{
    "kind": "walletobjects#walletObjectMessage",
    "header": "update message",
    "body": "this is message update test",
    "messageType": "text"
  }],
  "reviewStatus": "underReview"
}