{
    "kind": "walletobjects#offerClass",
    "id": "{{issuerId}}.{{offerClass}}",
    "version": "1",
    "issuerName": "{{issuerName}}",
    "allowMultipleUsersPerObject": true,
    "reviewStatus": "underReview",
    "imageModulesData": [
        {
            "mainImage": {
                "kind": "walletobjects#image",
                "sourceUri": {
                    "kind": "walletobjects#uri",
                    "uri": "{{mainImageURL}}"
                }
            }
        }
    ],
    "textModulesData": [
        {
            "header": "Details",
            "body": "{{{offerDetails}}}"
        }
    ],
    "hexBackgroundColor": "#ffffff",
	"heroImage": {
        "kind": "walletobjects#image",
        "sourceUri": {
            "kind": "walletobjects#uri",
            "uri": "{{heroImageURL}}"
        }
    },
    "multipleDevicesAndHoldersAllowedStatus": "multipleHolders",
    "title": "{{title}}",
    "redemptionChannel": "both",
    "provider": "{{issuerName}}",
    "titleImage": {
        "kind": "walletobjects#image",
        "sourceUri": {
            "kind": "walletobjects#uri",
            "uri": "{{titleImageURL}}"
        }
    },
    "locations": [{
        "kind": "walletobjects#latLongPoint",
        "latitude": 32.8543686,
        "longitude": -96.9883125
    }]
}